{% extends 'base.html' %}
{% load humanize %}

{% block title %}
Expense List
{% endblock %}

{% block content %}
<div class="col-md-6">
    <h1>Period List</h1>
    <table class="table table-striped">
        <tr>
            <th>Period</th>
            <th class="text-end">Total</th>
            <th class="text-center">Closed</th>
            <th class="text-center">Action</th>
        </tr>
        {% for period in periods %}
        <tr>
            <td>
                <a href="{% url 'period-expense-group' period=period.pk %}">
                {{ period.year }}-{{ period.month|stringformat:"02d" }}
                </a>
            </td>
            <td class="text-end {% if period.total >= 0 %}text-bg-success{% else %}text-bg-danger{% endif %}" scope="col">{{ period.total|intcomma }}</td>
            {% if period.closed %}
            <td class="bi bi-door-closed-fill text-center"></td>
            <td class="text-center">
                <a href="{% url 'period-open' pk=period.pk %}">Open</a>
            </td>
            {% else %}
            <td class="bi bi-door-open text-center"></td>
            <td class="text-center">
                <a href="{% url 'period-close' pk=period.pk %}">Close</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
