{% extends 'base.html' %}

{% block title %}
Accounts
{% endblock %}

{% block content %}
<div class="col-md-6">
    <h1>Account List</h1>
    <table class="table table-striped">
        <tr>
            <th>Account</th>
            <th>Type</th>
            <th class="text-center">Sign</th>
        </tr>
        {% for account in accounts %}
        <tr>
            {% if account.parent %}
            <td>{{ account.parent.name }} > {{ account.name }}</td>
            {% else %}
            <td>{{ account.name }}</td>
            {% endif %}
            <td>{{ account.account_type }}</td>
            <td class="text-center {% if account.sign >= 0 %}text-bg-success{% else %}text-bg-danger{% endif %}">{{ account.sign }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}