{% extends 'base.html' %}
{% load humanize query_params %}
{% block title %}
Transaction List
{%endblock %}
{% block content %}
<h1>Transaction List</h1>
<p><a href="{% url 'transaction-add' %}">Add</a> | <a href="{% url 'upload-add' %}">Upload</a></p>
<table class="table table-striped">
    <tr>
        <th>Period</th>
        <th>Account</th>
        <th class="text-end">Amount</th>
        <th>Description</th>
        <th>Payment date</th>
    </tr>
    {% for expense in expenses %}
    <tr>
        <td>{{ expense.period }}</td>
        <td>{{ expense.account.name }}</td>
        <td class="text-end {% if expense.account.sign == 1 %}text-bg-success{% else %}text-bg-danger{% endif %}"
            scope="col">
            {{ expense.local_amount|floatformat:"2"|intcomma }}
        </td>
        <td>{{ expense.description }}</td>
        <td>{{ expense.payment_date }}</td>
    </tr>
    {% endfor %}
</table>
<!--paginator-->
<nav aria-label="Page navigation expense">
    <ul class="pagination">
        {% if expenses.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?{% query_transform page=1 %}">&laquo; first</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?{% query_transform page=expenses.previous_page_number %}">Previous</a>
        </li>
        {% endif %}
        <li class="page-item">
            <span class="current page-link">
                Page {{ expenses.number }} of {{ expenses.paginator.num_pages }}.
            </span>
        </li>
        {% if expenses.has_next %}
        <li class="page-item">
            <a class="page-link" href="?{% query_transform page=expenses.next_page_number %}">Next</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?{% query_transform page=expenses.paginator.num_pages %}">last &raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}