{% extends "base.html" %}
{% load humanize %}
{% load math_filters %}

{% block content %}
<div class="col-md-6">
  <h2>Budget Assignments</h2>
  <table class="table table-striped">
    <tr>
      <th>Period</th>
      <th>Category</th>
      <th class="text-end">Budget</th>
      <th class="text-end">Expense</th>
      <th class="text-end">Difference</th>
    </tr>
    {% for assignment in budget_assignments %}
    <tr>
      <td>{{ assignment.budget.period }}</td>
      <td>{{ assignment.category }}</td>
      <td class="text-end">{{ assignment.budget_amount|intcomma }}</td>
      <td class="text-end">{{ assignment.expense_amount|intcomma }}</td>
      <td class="text-end  {% if assignment.difference <= 1 %}text-bg-success{% else %}text-bg-danger{% endif %}">{{ assignment.difference|round_to_n }}x </td>
    </tr>
    {% endfor %}
    <tr>
      <td><strong>Total</strong></td>
      <td></td>
      <td class="text-end">{{ total_budget|intcomma }}</td>
      <td class="text-end">{{ total_expense|intcomma }}</td>
    </tr>
  </table>
</div>
{% endblock %}
